<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mikes Bikes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--Information Drop Down-->
                    <div class="navbar-header" style="position:relative">
                        <a class="btn navbar-btn" href="#" data-toggle="dropdown">Information<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Return Policy", "ReturnPolicy", "Home")</li>
                            <li>@Html.ActionLink("Safety On a Bike", "BikeSafety", "Home")</li>
                            <li>@Html.ActionLink("Contact Us!", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        </ul>
                    </div>
                    <!--Regular Action Links to Views-->
                    <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                    <li>@Html.ActionLink("List Of Bikes", "Index", "CustomerBikeList")</li>
                    <li>@Html.ActionLink("Customer List", "Index", "CustomerBikeList")</li>
                    <li>@Html.ActionLink("Past Orders", "Index", "Orders")</li>
                    <li><div id="google_translate_element"></div></li>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'en,fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </ul>
                @Html.Partial("_LoginPartial")
                <div class="navbar-header" style="position:relative">
                    <a class="btn navbar-btn" href="#" data-toggle="dropdown">Cart<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Cart", "Index", "Carts")</li>
                        <li>@Html.ActionLink("Checkout","Checkout","Carts")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mikes Bikes </p>
            <p>Links:</p>
            <li>@Html.ActionLink("Careers", "Careers", "Home")   </li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li>@Html.ActionLink("Return Policy", "ReturnPolicy", "Home")</li>
            <li> @Html.ActionLink("Bike Safety", "BikeSafety", "Home")</li>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
