@model Mikes_Bikes.Models.Bike

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bike</h4>
    <hr />
    <dl class="dl-horizontal">
        <!----------- This is here TEMPORARILY ----------->
        <dt>
            @Html.DisplayNameFor(model => model.BikeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BikeID)
        </dd>
        <!------------------------------------------------>
        <dt>
            @Html.DisplayNameFor(model => model.BikeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeMfctr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeMfctr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeDescEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeDescEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeDescFR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeDescFR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeSaleAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeSaleAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeDisplayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeDisplayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikeStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeStock)
        </dd>

        <!--The actual image is in Content/Images-->
        <img src=@Html.DisplayFor(model=>model.BikeImage) alt="Sample Photo" height="100" width="133"/>
    </dl>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BikeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
