@model IEnumerable<Mikes_Bikes.Models.Bike>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Bikes", FormMethod.Get))
{
    <p>
        <!-- Html.DropDownList(keyInViewBag&variableName, nameForEmptyString) -->
        Catergory : @Html.DropDownList("bike", "All")<br />
        Search : @Html.TextBox("searchBike")<br />
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <!----------- This is here TEMPORARILY ----------->
        <th>
            @Html.DisplayNameFor(model => model.BikeID) 
        </th>
        <!------------------------------------------------>
        <th>
            @Html.ActionLink("Bike Name", "Index", new { sortColumn = ViewBag.nameSort })
        </th>
        <th>
            @Html.ActionLink("Bike Colour", "Index", new { sortColumn = ViewBag.colourSort })
        </th>
        <th>
            @Html.ActionLink("Bike Manufacture", "Index", new { sortColumn = ViewBag.mtfSort })
        </th>
        <th>
            @Html.ActionLink("Bike Type", "Index", new { sortColumn = ViewBag.typeSort })
        </th>
        <th>
            @Html.ActionLink("Bike Price", "Index", new { sortColumn = ViewBag.priceSort })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeDescEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeDescFR)
        </th>
        <th>
            @Html.ActionLink("Bike Sale", "Index", new { sortColumn = ViewBag.saleSort })
        </th>
        <th>
            @Html.ActionLink("Bikes Displayed", "Index", new { sortColumn = ViewBag.displaySort })
        </th>
        <th>
            @Html.ActionLink("Bike Stock Amount", "Index", new { sortColumn = ViewBag.stockSort })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!----------- This is here TEMPORARILY ----------->
        <td>
            @Html.DisplayFor(model => item.BikeID)
        </td>
        <!------------------------------------------------>
        <td>
            @Html.DisplayFor(modelItem => item.BikeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeMfctr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeDescEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeDescFR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeSaleAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeDisplayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BikeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BikeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BikeID })
        </td>
    </tr>
}

</table>
