@model IEnumerable<Mikes_Bikes.Models.Cart>

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bike.BikeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bike.BikeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
</table>
@{ var subtotal = Model.Sum(p => p.Bike.BikePrice);}
@{ double shipping = 15.00;}
@{ var taxes = @Math.Round(subtotal * 0.15, 2);}
<p>Subtotal: @subtotal $</p>
<p>Taxes: @taxes $</p>
@if (subtotal > 150){
    shipping = 20.00;
}
<p>Shipping: @shipping$</p>
@{ var total = subtotal + shipping + taxes;}
<p>Total: @total$</p>
@{
    ViewBag.Total = @total;
}
<input type="button" id="payment" value="Proceed to payment" name="payment"  class="btn btn-default" onclick="location.href='@Url.Action("Payment","Carts")'" />


