@model IEnumerable<Mikes_Bikes.Models.Order>

@{
    ViewBag.Title = "Your Past Orders";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.Raw("Order ID")
        </th>
        <th>
            @Html.Raw("Order Price")
        </th>
        <th>
            @Html.Raw("Order Date")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>


    </tr>
}

</table>
